#header {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
  background-color: grey;
  color: white;
}

#avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 2px solid white;
}

#changeUser {
  height: 50px;
}
