h5 {
  margin: 1em;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
  background-color: grey;
  color: white;
}

#avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 2px solid white;
}

#changeUser {
  height: 50px;
}

#vacations {
  margin: 64px;
}

#createVacation {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid grey;
  background-color: lightgray;
}
#vacationList {
  width: 60%;
}

.vacation {
  border-bottom: 1px solid grey;
}

.removeVacation {
  margin-bottom: 16px;
}

#submitVacation {
  margin-top: 16px;
}

#notes {
  margin: 64px;
}

#home {
  display: flex;
  justify-content: space-evenly;
  padding: 32px;
  align-items: center;
  height: 20rem;
}

#home .link {
  background-color: lightgrey;
  border: 1px solid grey;
  height: 300px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 300px;
  text-align: center;
  line-height: 290px;
}

#home .link:hover {
  color: white;
  background-color: darkgray;
  border: 1px solid grey;
  height: 300px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 300px;
  text-align: center;
  line-height: 290px;
}

#home a {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

#home a:hover {
  color: black;
  font-size: xx-large;
  text-decoration: none;
}
